/env/
/.vscode/
__init__.py*
/db.sqlite3
__pycache__*
/pruebas_app/migrations/
/archivos/scripts/*
/archivos/resultados/*
/archivos/apk/*
/archivos/evidencias/*
/venv/
.idea/*
/archivos/screenshots/*
/archivos/mutacion/*
