{% extends 'pruebas_app/layout.html' %}
{% block head %}

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
<script>
  $(document).ready(function () {
    $('#aplicaciones').change(function () {

      var optionSelected = $(this).find("option:selected");
      var idAplicacion = optionSelected.val();
      console.log('idAplicacion', idAplicacion);
      data = {
        'aplicacion_id': idAplicacion
      };

      $.ajax({
        url: '/obtener_versiones_de_una_estrategia',
        type: 'GET',
        data: data,
        success: function (results) {

          console.log(results);
          $("#versiones option").remove();
          for (var i = results.length - 1; i >= 0; i--) {
            $("#versiones").append('<option>' + results[i].numero + '</option>');
          };
        }
      });

    });
  });
</script>

{% endblock head %}
{% block subtitle %}<h1 class="mt-2">Agregar Estrategia</h1>
{% endblock subtitle %}
{% block content %}
<div class="container-fluid">
  <form>
    <div class="row register-form">
      <div class="col-md-8">
        <div class="form-group">
          <select name='aplicaciones' id='aplicaciones' class="form-control">
            <option class="hidden" selected disabled>Seleccione la aplicacion</option>
            {% for a in aplicaciones %}
            <option value="{{a.id}}">{{a.nombre}}</option>
            {% endfor %}

          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <select name='versiones' id='versiones' class="form-control">
            <option class="hidden" selected disabled>Seleccione la version</option>



          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nombre de la estrategia" value="" />
    </div>
    <div class="row mb-3">

      <div class="col-9">
        <h5 class="mt-2">Adicione scripts a esta estrategia</h1>
      </div>
      <div class="col-3 text-right">

        <a href="/addEvent">
          <button type="button" class="btn btn-success text-right">
            Agregar otro<i class="m-1 fas fa-folder-plus"></i>
          </button>
        </a>
      </div>
    </div>
    <div class="row">

      <div class="col-5">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFileLang" lang="es">
          <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <select class="form-control">
            <option class="hidden" selected disabled>Herramienta</option>
            {% for h in herramientas %}
            <option>{{h.nombre}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-3">
        <div class="form-group">
          <select class="form-control">
            <option class="hidden" selected disabled>Tipo</option>
            {% for t in tipos %}
            <option>{{t.nombre}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-1">
        <div class="form-group">
          <a class="btn btn-danger" href="#">
            <i class="far fa-trash-alt"></i></a>
        </div>
      </div>

    </div>
  </form>

</div>

{% endblock content %}