<style>
    /* .invalid class prevents CSS from automatically applying */
    .invalid input:required:invalid {
      background: #BE4C54;
    }

    /* Mark valid inputs during .invalid state */
    .invalid input:required:valid {
      background: #17D654;
    }
</style>

<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <form role="form" id="form-version" action="{% url 'guardar_version' aplicacion.id %}" method="post" enctype="multipart/form-data" class="needs-validation">
            {% csrf_token %}
            <div class="modal-header">
                <h3>Nueva versión de {{aplicacion.nombre}}</h3>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Número de versión" value=""
                        name="numero_version" required />
                </div>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Descripción de la versión" value=""
                        name="descripcion_version" required></textarea>
                </div>
                {% if aplicacion.tipo.tipo == 'Web' %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="URL" value=""
                        name="url_version" required/>
                </div>
                {% elif aplicacion.tipo.tipo == 'Móvil'%}
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="apk_version" required>
                    <label class="custom-file-label" for="customFile">Seleccionar APK</label>
                </div>
                {% else %}
                El tipo de aplicacion no se encuentra registrado
                {% endif %}
                <br><br>
                <!--Table-->
                <table class="table table-hover table-fixed">

                    <!--Table head-->
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Número</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        {% for version in versiones %}
                        <tr>
                            <th scope="row" class="text-center">{{ version.id }}</th>
                            <td>{{ version.numero }}</td>
                            <td>{{ version.descripcion}}</td>
                            <td>
                                <a class="btn btn-danger text-right btn-sm"
                                    href="{% url 'eliminar_version' version.id %}">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <!--Table body-->

                </table>
                <!--Table-->
            </div>

            <div class="modal-footer">
                <div class="col-lg-12 text-right">
                    <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
                    <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>

<script>
    // $("#form-version")[0].reset();
</script>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
//$(document).ready(function () {
/*(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();*/
//});
</script>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>


