<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <form role="form" name="form" action="{% url 'ejecutar_estrategia' %}" method="post" class="needs-validation"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
                <h3>Escoja las condiciones para lanzar esta estrategia {{ estrategia.nombre }}</h3>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type='hidden' name="estrategia" value="{{ estrategia.id }}"/>
                    <div class="form-group">
                        <select name='version' class="form-control" required>
                            <option value="" class="hidden" selected disabled>Versión de la aplicación</option>
                            {% for v in estrategia.aplicacion.version_set.all %}
                            <option value="{{ v.id }}">{{ v.numero }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="solicitud_VRT" name='solicitud_VRT' class="form-control"
                                onchange="activar_campo(this.value)">
                            <option value="" class="hidden" selected disabled>Seleccione la solicitud para VRT</option>
                            {% for s in solicitudes %}
                            <option value="{{ s.id }}">{{ s.id }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if estrategia.aplicacion.tipo.tipo == 'Móvil' %}
                    <div class="form-group">
                        <select name='dispositivo' class="form-control" required>
                            <option value="" class="hidden" selected disabled>Seleccione el dispositivo donde quiere
                                lanzar
                                la prueba
                            </option>
                            {% for d in dispositivos %}
                            <option value="{{ d.id }}">{{ d.device_definition }} API {{ d.api_level }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                </div>
                <div id="sensibilidad-required" class="form-group">
                    <input class="form-control" id="sensibilidad_VRT" name="sensibilidad_VRT" type="number"
                           placeholder="% de sensibilidad en VRT" value="{{ s.sensibilidad_VRT }}" step="0.01" min="0"
                           max="100"/>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-lg-12 text-right">
                    <input type="submit" class="btn btn-success" name="submit" value="Ejecutar">
                    <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>
