{% extends 'pruebas_app/layout.html' %}
{% block head %}

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
    <script>
        $(document).ready(function () {
            $(':input[type="submit"]').prop('disabled', true);
            $('#aplicaciones').change(function () {

                var optionSelected = $(this).find("option:selected");
                var idAplicacion = optionSelected.val();
                console.log('idAplicacion', idAplicacion);
                data = {
                    'aplicacion_id': idAplicacion
                };

                $.ajax({
                    url: '/obtener_versiones_de_una_aplicacion',
                    type: 'GET',
                    data: data,
                    success: function (results) {

                        console.log(results);
                        $("#versiones option").remove();
                        for (var i = results.length - 1; i >= 0; i--) {
                            $("#versiones").append('<option value="' + results[i].id + '">' + results[i].numero +
                                '</option>');
                        }
                        ;
                    }
                });

            });

            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            $("#numero_mutantes").on("change", function () {
                var checkedBoxes = $('input[name=operadores]:checked').length;
                var mutantes = $('#numero_mutantes').val();
                console.log(mutantes)
                if (!(mutantes === "") && parseInt(mutantes) >= checkedBoxes) {
                    $("#btn_submit").removeClass("disabled")
                    $(':input[type="submit"]').prop('disabled', false);
                } else {
                    $("#btn_submit").addClass("disabled")
                    $(':input[type="submit"]').prop('disabled', true);
                }
            });

            $(".checkbox_pa").on("click", function () {
                var checkedBoxes = $('input[name=operadores]:checked').length;
                var mutantes = $('#numero_mutantes').val();
                console.log(mutantes)
                if (!(mutantes === "") && parseInt(mutantes) >= checkedBoxes) {
                    $("#btn_submit").removeClass("disabled")
                    $(':input[type="submit"]').prop('disabled', false);
                } else {
                    $("#btn_submit").addClass("disabled")
                    $(':input[type="submit"]').prop('disabled', true);
                }
            });
        });
    </script>

{% endblock head %}
{% block subtitle %}<h1 class="mt-2">Mutaciones</h1>{% endblock subtitle %}
{% block content %}
    <div class="container-fluid">
        <form action="{% url 'mutacion' %}" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="row register-form">
                <div class="col-md-4">
                    <div class="form-group">
                        <select name='aplicacion' id='aplicaciones' class="form-control" required>
                            <option class="hidden" value="" selected disabled>Seleccione la aplicación</option>
                            {% for a in aplicaciones %}
                                <option value="{{ a.id }}">{{ a.nombre }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <select name='version' id='versiones' class="form-control" required>
                            <option class="hidden" value="" selected disabled>Seleccione la versión</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Número de mutantes"
                               name="numero_mutantes" id="numero_mutantes" min="1" required/>
                    </div>
                </div>
            </div>
            <div class="row register-form">
                <div class=" col-md-3"></div>
                <!--<div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control col-md-12" id="myInput" type="text" placeholder="Search..">
                    </div>
                </div>-->
                <div class="input-group mb-6 col-md-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                    <input class="form-control" id="myInput" type="text" placeholder="Buscar.." aria-label="Buscar"
                           aria-describedby="basic-addon1">
                </div>
                <div class=" col-md-3"></div>
            </div>
            <div class="row">
                <div class=" col-md-3"></div>
                <div class=" col-md-6">
                    <table class="table table-sm table-bordered">
                        <!--Table head-->
                        <thead>
                        <tr class="text-center">
                            <th></th>
                            <th>Operador</th>
                        </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody id="myTable">
                        {% for o in operadores %}
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input checkbox_pa"
                                               value="{{ o.id }}"
                                               id="{{ o.id }}"
                                               name="operadores">
                                        <label class="custom-control-label" for="{{ o.id }}"></label>
                                    </div>
                                </td>
                                <td>
                                    {{ o.numero }} <i class="fas fa-caret-right"></i> {{ o.nombre }}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                        <!--Table body-->
                    </table>
                </div>
                <div class=" col-md-3"></div>
                <!--<div class=" col-md-4">
                    <table class="table table-bordered">

                        <tbody>
                        {% for o in operadores|slice:"12:24" %}
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="{{ o.id }}"
                                               id="{{ o.id }}"
                                               name="operadores">
                                        <label class="custom-control-label" for="{{ o.id }}">{{ o.numero }}
                                            = {{ o.nombre }}</label>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class=" col-md-4">
                    <table class="table table-bordered">

                        <tbody>
                        {% for o in operadores|slice:"24:" %}
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="{{ o.id }}"
                                               id="{{ o.id }}"
                                               name="operadores">
                                        <label class="custom-control-label" for="{{ o.id }}">{{ o.numero }}
                                            = {{ o.nombre }}</label>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>-->

            </div>

            <div class="text-center">
                <button type="submit" id="btn_submit" class="btn btn-primary disabled">Crear mutaciones</button>
            </div>

        </form>


    </div>

{% endblock content %}