{% extends 'pruebas_app/layout.html' %}
{% block subtitle %}<h1 class="mt-2">Home</h1>{% endblock subtitle %}
{% block content %}

<h6 class="m-5">A continuacion observe un resumen de las solicitudes lanzadas
</h6>


<div class="table-responsive col-12 ">
    <!-- Page Content -->
    <!--Table-->
    <table class="table table-hover table-fixed">

        <!--Table head-->
        <thead>
            <tr>
                <th># ID</th>
                <th>Aplicacion</th>
                <th>Version</th>
                <th>Estrategia</th>
                <th>Estado</th>
                <th>Resultado</th>

            </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
            <tr>
                <th scope="row">4</th>
                <td>Jerry</td>
                <td>Horwitz</td>
                <td>Italy</td>
                <td>Bari</td>
                <td><a href="{% url 'home' %}"><i class="fas fa-download"></i></a></td>

            </tr>
        </tbody>
        <!--Table body-->

    </table>
    <!--Table-->
</div>


{% endblock content %}