{% extends 'pruebas_app/layout.html' %}
{% block subtitle %}<h1 class="mt-2">Home</h1>{% endblock subtitle %}
{% block content %}

<h6 class="m-5">A continuacion observe un resumen de las solicitudes lanzadas
</h6>


<div class="table-responsive col-12 ">
    <!-- Page Content -->
    <!--Table-->
    <table class="table table-hover table-fixed">

        <!--Table head-->
        <thead>
            <tr class="text-center">
                <th># ID</th>
                <th>Aplicación</th>
                <th>Versión</th>
                <th>Estrategia</th>
                <th>Estado</th>
                <th>Resultado</th>

            </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
            {% for solicitud in solicitudes %}
            <tr>
                <th scope="row" class="text-center">{{ solicitud.id }}</th>
                <td>{{ solicitud.estrategia.version.aplicacion.nombre }}</td>
                <td class="text-center">{{ solicitud.estrategia.version.numero }}</td>
                <td>{{ solicitud.estrategia.nombre }}</td>
                <td>{{ solicitud.estado }}</td>
                {% if solicitud.terminada %}
                <td class="text-center"><a href="{% url 'home' %}"><i class="fas fa-download"></i></a></td>
                {% else %}
                <td class="text-center">Pendiente</td>
                {% endif %}


            </tr>
            {% endfor %}
        </tbody>
        <!--Table body-->

    </table>
    <!--Table-->
</div>


{% endblock content %}