{% extends 'pruebas_app/layout.html' %}
{% block head %}

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
    <script>
        function abrir_modal(url) {
            $('#popup').load(url, function () {
                $(this).modal('show');

                document.getElementById('sensibilidad_VRT').style.visibility = 'hidden';
            });
            return false;
        }

        function cerrar_modal() {
            $('#popup').modal('hide');
            return false;
        }

        function activar_campo(val) {
            if (val != null) {
                document.getElementById('sensibilidad_VRT').style.visibility = 'visible';
                $("#sensibilidad_VRT").attr("required", true);
            }
        }


    </script>

{% endblock head %}
{% block subtitle %}<h1 class="mt-3">Lanzar Estrategia</h1>
{% endblock subtitle %}
{% block content %}

    <h6 class="mb-5 mt-3">A continuación puede escoger alguna estrategia y realizar las siguientes acciones: ver,
        lanzar,
        editar o
        borrar
    </h6>

    {% if estrategias %}

        <!--Table-->
        <table class="table table-hover table-fixed">

            <!--Table head-->
            <thead>
            <tr>
                <th># ID</th>
                <th>Nombre estrategia</th>
                <th>Aplicación</th>
                <th>Acciones</th>


            </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
            {% for e in estrategias %}
                <tr>
                    <th scope="row">{{ e.id }}</th>
                    <td>{{ e.nombre }}</td>
                    <td>{{ e.aplicacion.nombre }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-info btn-sm" onclick=" "><i class="fas fa-search"></i> </button>
                        </div>

                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-success btn-sm" onclick="return abrir_modal('{% url 'condiciones_de_lanzamiento' e.id %}')"><i class="fas fa-play"></i> </button>
                        </div>

                        <a class="btn btn-secondary text-right btn-sm" href="{% url 'copiar_estrategia' e.id %}">
                            <i class="fas fa-copy"></i>
                        </a>

                        <a class="btn btn-danger text-right btn-sm" href="{% url 'eliminar_estrategia' e.id %}">
                            <i class="far fa-trash-alt"></i>
                        </a>

                    </td>

                </tr>
            {% endfor %}

            </tbody>
            <!--Table body-->

        </table>
        <!--Table-->

    {% else %}

        <em>Aun no hay estrategias creadas, para crear una ingrese <a class=""
                                                                      href="{% url 'agregar_estrategia' %}">aqui</a></em>

    {% endif %}


    <div id="popup" class="modal fade" role="dialog">
    </div>
{% endblock content %}