{% extends 'pruebas_app/layout.html' %}
{% block head %}

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
    <script>
        $(document).ready(function () {
            $('#aplicaciones').change(function () {

                var optionSelected = $(this).find("option:selected");
                var idAplicacion = optionSelected.val();
                console.log('idAplicacion', idAplicacion);
                data = {
                    'aplicacion_id': idAplicacion
                };

                $.ajax({
                    url: '/obtener_versiones_de_una_aplicacion',
                    type: 'GET',
                    data: data,
                    success: function (results) {

                        console.log(results);
                        $("#versiones option").remove();
                        for (var i = results.length - 1; i >= 0; i--) {
                            $("#versiones").append('<option value="' + results[i].id + '">' + results[i].numero +
                                '</option>');
                        }
                        ;
                    }
                });

            });
        });
    </script>

{% endblock head %}
{% block subtitle %}<h1 class="mt-2">Mutaciones</h1>{% endblock subtitle %}
{% block content %}
    <div class="container-fluid">
        <form action="{% url 'guardar_mutacion' %}" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="row register-form">
                <div class="col-md-4">
                    <div class="form-group">
                        <select name='aplicacion' id='aplicaciones' class="form-control" required>
                            <option class="hidden" value="" selected disabled>Seleccione la aplicación</option>
                            {% for a in aplicaciones %}
                                <option value="{{ a.id }}">{{ a.nombre }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <select name='version' id='versiones' class="form-control" required>
                            <option class="hidden" value="" selected disabled>Seleccione la versión</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="row register-form">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Número de mutantes"
                               name="numero_mutantes" min="1"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-4">
                    <table class="table table-bordered">

                        <tbody>
                        {% for o in operadores|slice:"12" %}
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="{{ o.id }}" id="{{ o.id }}"
                                               name="operadores">
                                        <label class="custom-control-label" for="{{ o.id }}">{{ o.numero }}
                                            = {{ o.nombre }}</label>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class=" col-md-4">
                    <table class="table table-bordered">

                        <tbody>
                        {% for o in operadores|slice:"12:24" %}
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="{{ o.id }}" id="{{ o.id }}"
                                               name="operadores">
                                        <label class="custom-control-label" for="{{ o.id }}">{{ o.numero }}
                                            = {{ o.nombre }}</label>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class=" col-md-4">
                    <table class="table table-bordered">

                        <tbody>
                        {% for o in operadores|slice:"24:" %}
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="{{ o.id }}" id="{{ o.id }}"
                                               name="operadores">
                                        <label class="custom-control-label" for="{{ o.id }}">{{ o.numero }}
                                            = {{ o.nombre }}</label>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            <div>
                <button type="submit" class="btn btn-primary">Crear mutaciones</button>
            </div>

        </form>


    </div>
{% endblock content %}